@model BitirmeProjesiV2.Models.DB.Comment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentNameSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentNameSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentContents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentContents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trip.TripId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Yorumid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
