@model BitirmeProjesiV2.Models.DB.Comment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentNameSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentNameSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentContents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentContents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trip.TripId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Yorumid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
